---
import Layout from '../../layouts/Layout.astro';
import NavBar from '../../components/NavBar.astro';


---



<Layout title="Attendance System">
    <main>
        <NavBar />
        

    </main>
</Layout>


