@tailwind base;
@tailwind components;
@tailwind utilities;


html, #root {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 font-family: 'Nunito', sans-serif;
 line-height: 1.5;
/*  color: #000;*/
/*  background-color: white;*/
 text-decoration: none;
}


section {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 2rem;
    block-size: fit-content;
}

/*#root {*/
/*  max-width: 100%;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  !* text-align: center; *!*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
