---



---

<nav class="bg-blue-500 w-full py-8">
    <div class="container mx-auto flex items-center justify-between">
        <div class="text-white text-2xl font-bold">
            BASP 
        </div>
        <ul class="flex space-x-4">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
        </ul>
    </div>
</nav>